* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

::placeholder {
    color: #c6c6c6;
}

body{
    background-image: url("../src/bkg1.png");
    background-size: cover;
}
.alert{
    font-size: 3rem;
    color: #fff;
}
a{
    font-size: 3rem;
    color: #131086;
    text-decoration: none;
}

.form_register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stars{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../src/bkg2.jpg");
    background-size: cover;
    opacity: 0.6;
    animation: backgroundLoop 20s infinite linear;
}
option{
    color: #000000;
}
label {
    color: white;
    font-size: 1.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 700px;
    border-radius: 20px;
    /* background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(145deg, transparent 25%,#e81cff, #40c9ff) border-box; */
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    gap: 20px;
    box-sizing: border-box;
    z-index: 2;
}

select,
input {
    font-size: 18px;
    color: white;
    height: 50px;
    width: 80%;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
    background-color: transparent;
    padding-left: 30px;
    margin-top: 10px;
}

input[type="submit"] {
    border: none;
    padding-left: 0;
    margin-top: 25px;
    color: #fff;
    width: 50%;
    height: 60px;
    background: linear-gradient(45deg, #131086, #b621f3);
    font-size: 1.5rem;
}
input[type="submit"]:hover {
    scale: 1.1;
}

.title{
    margin-bottom: 35px;
    font-size: 4rem;
    background: linear-gradient(45deg, #131086 15%, #b621f3 50%, #131086 85%);
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    animation: gradient 8s infinite linear;
    z-index: 2;
}

.thanks{
    position: absolute;
    color: chartreuse;
    font-size: 0;
    /* animation: thanks 4s linear infinite; */
    z-index: 2;
}

.amoung{
    position: absolute;
    width: calc(100vh/9*16);
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
}

@keyframes gradient {
    0%{background-position: 0px}
    100%{background-position: 782px}
}

@keyframes thanks {
 0%{font-size: 0rem}
 40%{font-size: 5rem;}
 60%{font-size: 5rem;}
 100%{font-size: 0rem;}
}

@keyframes hidden {
    0%{visibility: hidden;}
    100%{visibility: hidden;}
}

@keyframes backgroundLoop {
    0%{background-position: 0px}
    100%{background-position: 3840px;}
}